h3 {
  color: black;
  font-size: 1.5rem;
  text-align: center;
  padding: 5px 0px 30px 0px;
  display: block;
}

h4 {
  color: #282828;
}

.forecast {
  position: relative;
  left: 50px;

  /* on hover change background color */
  border-radius: 4px;
  color: #fbff3c;
  font-family: "Titillium Web", sans-serif;
}

.degrees {
  text-decoration: none;
  color: #fbff3c;
  padding-right: 4px;
}

.col-4 {
  font-size: 20px;
  margin: 0 auto;
  padding: 0px 30px 0px 0px;
}

.col-5 {
  display: block;
  position: relative;
  left: 10%;
  padding-right: 40px;
}

.col-12 {
  background-color: rgba(245, 245, 245, 0.1);
  text-align: center;
  /* display: block; */
  margin: 0px -72px 12px -72px;
  border-radius: 4px;
  padding: 2pt 0;
  font-size: 16px;
}
